repos:

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.3.0
  hooks:
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace

- repo: https://github.com/charliermarsh/ruff-pre-commit
  rev: v0.6.2
  hooks:
    - id: ruff

- repo: https://github.com/koalaman/shellcheck-precommit
  rev: v0.8.0
  hooks:
    - id: shellcheck
      args: [-x, run]

- repo: https://github.com/rhysd/actionlint
  rev: v1.6.26
  hooks:
    - id: actionlint
